
Spark/.idea/.gitignore
Spark/.idea/codeStyles/Project.xml
Spark/.idea/codeStyles/codeStyleConfig.xml
Spark/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_3_jar.xml
Spark/.idea/codeStyles/Project.xml
Spark/.idea/codeStyles/Project.xml
Spark/.idea/codeStyles/Project.xml
Spark/.idea/codeStyles/codeStyleConfig.xml
Spark/.idea/codeStyles/Project.xml